fitz==0.0.1.dev2
ipython==8.12.3
matplotlib==3.10.6
nltk==3.9.1
numpy==2.2.0
pandas==2.3.1
pdfplumber==0.11.7
Pillow==11.3.0
plotly==6.3.0
pytesseract==0.3.13
regex==2025.9.1
scikit_learn==1.7.1
seaborn==0.13.2
sentence_transformers==5.1.0
umap==0.1.1
umap_learn==0.5.9.post2
wordcloud==1.9.4
